/* body{
    margin: 0;
    padding: 0;
    background-color:#feffdf;
}
.main{
width: 25%;
border: 2px solid black;
margin: 1% auto;
padding: 2% 0 10% 0;
align-items: center;
text-align: center;
background-color:#ffa952;
border-radius: 30px;
}
label{
    color: white;
} */
/* main */
